body{
  position:relative;
  height: auto;
  width: auto;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}
.container{
  width: 350px;
  padding: 20px 25px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: white;
  margin-top: 6%;
}
h2{
  text-align: center;
  margin-bottom: 15px;
}
label{
  display: block;
  margin-top: 10px;
}
input,select{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
.gender{
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.gender input {
  cursor: pointer;
  width: auto;
  margin-right: 5px;
}
button{
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.message{
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}
.result{
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}
.success{
  color: green;
}